[Unit]
Description=Audio Duration Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/audio_duration
Environment="PATH=/usr/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/audio_duration/venv/bin"
Environment="API_KEY=410850697a62310eae3996723aeff023d04d14a6d739ee3aad84c4048e1fa454"
Environment="FFMPEG_BINARY=/usr/bin/ffmpeg"
ExecStart=/opt/audio_duration/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5001 run:app
Restart=always

[Install]
WantedBy=multi-user.target 